<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Wellness Manager</title>
		<script src="../../js/script.js"></script>
		<link rel="stylesheet" href="../../css/style.css">
    </head>

    <style>
		body {
			background-image: linear-gradient(to bottom right, greenyellow, yellowgreen);
			height: 100vh;
		}

        .navbar-item {
            color: green;
            font-size: 130%;
        }

        .navbar-item:hover {
            font-weight: bold;
        }

		.menu-selection {
			padding: 1.3%;
			width: 20vw;
			height: 100%;
			background-color: greenyellow;
			border-radius: 25px;
			border: 5px black solid;
			float: left;
		}

		.menu-label {
			color: darkcyan;
			font-size: 130%;
		}

		hr {
			background-color: darkcyan;
		}

		.menu-list li {
			color: red;
		}

		#content-container {
			border: 1px black solid;
			display: flex;
			background-image: linear-gradient(to bottom right, darkgreen, yellowgreen);
			margin: 2% 5% 2% 5%;
			border-radius: 25px;
			-webkit-box-shadow: 2px 2px 25px 3px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 25px 3px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 25px 3px rgba(0,0,0,0.75);
		}

		#main-content {
			width: 100%;
			height: 100%;
			padding: 1.3%;
			background-color: red;
			border-radius: 0 25px 25px 0;
			border: 5px black solid;
		}

    </style>


    <body>
	
		<!-- Nav Bar -->
		<nav class="navbar" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<!-- RIT logo -->
				<a href="#" class="navbar-item anchor-scroll" data-class-to="body" data-on-scroll="blur">
					<img src="../../assets/images/logo.jpg" alt="Logo">
				</a>

				<!-- burger menu for mobile view -->
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div class="navbar-menu">
				<div class="navbar-start">
					<a href="#" class="navbar-item anchor-scroll" data-class-to="body" data-on-scroll="blur">
						Homepage
					</a>

					<a href="#" class="navbar-item anchor-scroll" data-class-to="body" data-on-scroll="blur">
						Profile
					</a>


					<a href="#" class="navbar-item anchor-scroll" data-class-to="body" data-on-scroll="blur">
						Settings
					</a>

				</div>
			</div>
		</nav>
		<!-- End of Nav Bar -->
		
		<!-- Content Container-->
		<div id="content-container">
			<!-- Menu -->
			<aside class="menu menu-selection">
				<p class="menu-label">
					Food
				</p>
				<ul class="menu-list">
				<li><a class="menu-item active-item">Add Food</a></li>
				<li><a class="menu-item">Remove Food</a></li>
				<li><a class="menu-item">Add Food to Recipe</a></li>
				</ul>
				<hr>

				<p class="menu-label">
					Recipe
				</p>
				<ul class="menu-list">
					<li><a class="menu-item">Add Recipe</a></li>
					<li><a class="menu-item">Remove Recipe</a></li>
				</ul>
				<hr>

				<p class="menu-label">
					Log
				</p>
				<ul class="menu-list">
					<li><a class="menu-item">Add Log</a></li>
					<li><a class="menu-item">Remove Log</a></li>
				</ul>
				<hr>

				<p class="menu-label">
					Exercise
				</p>
				<ul class="menu-list">
					<li><a class="menu-item">Add Exercise</a></li>
					<li><a class="menu-item">Remove Exercise</a></li>
				</ul>
			</aside>
			<!-- End of Menu -->

			<!-- Main -->
			<main id="main-content">
				
				<div class="table-container is-showed">
					<table class="table is-bordered is-striped">
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Age</th>
						  </tr>
						  <tr>
							<td>Jill</td>
							<td>Smith</td>
							<td>50</td>
						  </tr>
						  <tr>
							<td>Eve</td>
							<td>Jackson</td>
							<td>94</td>
						  </tr>
					</table>
				</div>
				
				

			</main>
			<!-- End of Main -->

		</div>
		<!-- End of Content Container -->

	 </body>
	 

<!-- -->
<!-- End of -->
</html>
